body {
	padding: 10px;
	background-color: #CCC;
}
table {
	width: 100%;
}
ul.pagebar li {
	display: inline;
	padding: 0 4px;
}
ul.menu {margin-bottom:20px;}
ul.menu li {display:inline-block;}