@import url("../lib/huan/reset.css");

html {
	background-color: #00A0DE;
}
body {
	width: 950px;
	margin: 0 auto;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: url(res/bg.png) #FFF no-repeat bottom left;
}
div.box {
	clear: both;
}
h1 {
	display: inline-block;
	margin-top: 10px;
	margin-left: 80px;
	margin-right: 10px;
	padding: 0 15px;
	line-height: 44px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	background-color: #BBD965;
}
div.overlay {
	background-color: #999999;
	opacity: 0.8;
}
div.window {
	width: 300px;
	height: 200px;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}
div.window h1,
div.window h2,
div.window h3,
div.window h4,
div.window h5,
div.window h6 {
	position: relative;
	margin: 0;
	border-bottom: 1px solid #000000;
	font-family: Verdana, Geneva, sans-serif;
}
div.window h1 button.close,
div.window h2 button.close,
div.window h3 button.close,
div.window h4 button.close,
div.window h5 button.close,
div.window h6 button.close {
	position: absolute;
	top: 2px;
	right: 2px;
}
div.window div.panel {
	position: absolute;
	bottom: 0;
	right: 0;
}


* html h1 {display: inline;}
*+html h1 {display: inline;}
ul.navbar, ol.navbar, dl.navbar {
	display: inline-block;
	vertical-align: top;
	line-height: 44px;
	margin-top: 10px;
	padding: 0 40px;
	font-size: 14px;
	background-color: #EAFCB5;
}
* html ul.navbar,* html ol.navbar,* html dl.navbar {display: inline;}
*+html ul.navbar,*+html ol.navbar,*+html dl.navbar {display: inline;}
dl.navbar dt {
	display: inline-block;
	margin-right: 20px;
}
* html dl.navbar dt {display: inline;}
*+html dl.navbar dt {display: inline;}
ul.navbar li, ol.navbar li, dl.navbar dd {
	display: inline-block;
	margin-right: 20px;
}
* html ul.navbar li, * html ol.navbar li, * html dl.navbar dd {display: inline;}
*+html ul.navbar li, *+html ol.navbar li, *+html dl.navbar dd {display: inline;}
div.navmenu {
	width: 224px;
	margin-bottom: 100px;
	background: url(res/greenbox.png) no-repeat center top;
}
div.navmenu h2 {
	line-height: 44px;
	text-align: center;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.5em;
}
div.navmenu dl {
	padding: 30px 10px;
	background: url(res/greenbox.png) no-repeat center bottom;
}
div.navmenu dt {
	padding-left: 16px;
	color: #339933;
	font-size: 14px;
	line-height: 1.4em;
	background: url(res/green_sub_bullet.png) no-repeat left center;
}
div.navmenu dd {
	margin-left: 16px;
	display: list-item;
	line-height: 1.4em;
	list-style-type: square;
	list-style-position: inside;
}
div.navmenu dd a {
	color: #000;
}

#header {
	height: 300px;
	background-color: #00A0DE;
}
	#sitenav {
		float: left;
	}
	#promotion {
	}
	#myCart {
		margin-top: 10px;
	}
#main {
	padding: 25px;
	overflow: hidden;
}
#sidebar {
	float: left;
}
#content {
	float: right;
	width: 900px;
	min-height: 200px;
}
#footer {
	height: 50px;
	padding-top: 16px;
}
#footer ul {
	margin-left: 140px;
}
#footer li {
	display: inline-block;
	padding: 0 14px;
	background: url(res/blue-point.png) no-repeat center left;
}
* html #footer li {display: inline;}
*+html #footer li {display: inline;}
#footer a {
	text-decoration: none;
	color: #FFF;
}
#footer p {
	clear: both;
	margin: 10px 0 0 140px;
	color: #FFF;
}





ol.steps li.step_1 {
	background-position: 0 0;
}
ol.steps li.step_2 {
	background-position: 0 -100px;
}
ol.steps li.step_3 {
	background-position: 0 -200px;
}
ol.steps li.step_4 {
	background-position: 0 -300px;
}
ol.steps li.step_5 {
	background-position: 0 -400px;
}
ol.step_1 li.step_1 {
	background-position: 0 -50px;
}
ol.step_2 li.step_2 {
	background-position: 0 -150px;
}
ol.step_3 li.step_3 {
	background-position: 0 -250px;
}
ol.step_4 li.step_4 {
	background-position: 0 -350px;
}
ol.step_5 li.step_5 {
	background-position: 0 -450px;
}
