h1 {
	background-color: #3CBBE9;
}
#main {
	padding-bottom: 100px;
}
div.box {
	margin: 10px auto;
}
ol.navbar {
	background-color: #C5E1F9;
}
ol.steps li {
	height: 25px;
	line-height: 25px;
	margin: 9px 20px 10px 0;
	padding-left: 34px;
	background-image: url(res/green-steps.png);
	background-repeat: no-repeat;
}
h3 {
	color: #3CBBE9;
	font-weight: bold;
	font-size: 14px;
}
#gift-description {
	display: inline-block;
	width: 460px;
}
#gift-description div.thumb {
	text-align: center;
}
#gift-description-more {
	display: inline-block;
	width: 380px;
	vertical-align: top;
}
#gifts h2 {
	display: inline-block;
	width: 850px;
	height: 35px;
	padding-left: 50px;
	line-height: 35px;
	font-weight: bold;
	font-size: 14px;
	color: #00A0DE;
	background-color: #C5E1F9;
	background-image: url(res/green-steps.png);
	background-repeat: no-repeat;
}
* html #gifts h2 {display: inline;}
*+html #gifts h2 {display: inline;}
#gift-select-style h2 {
	background-position: 10px -45px;
}
#gift-buy-count h2 {
	background-position: 10px -145px;
}
#gift-upload-photo h2 {
	background-position: 10px -245px;
}
#gift-buy-submit h2 {
	background-position: 10px -345px;
}
#gift-buy-count label {
	display: inline-block;
	margin-left: -600px;
}
* html #gift-buy-count label {display: inline;}
*+html #gift-buy-count label {display: inline;}

#gift-upload-photo div.upload {
	display: inline-block;
	margin-left: -600px;
}
* html #gift-upload-photo div.upload {display: inline;}
*+html #gift-upload-photo div.upload {display: inline;}
#gift-upload-photo div.upload p {
	display: inline;
}
#gift-upload-photo ul.images {
}
#gift-upload-photo ul.images li {
	display: inline-block;
	padding: 10px;
	width: 160px;
	text-align: center;
}
#gift-upload-photo ul.images li a {
	vertical-align: middle;
}

#gift-buy-submit h2 {
	width: 500px;
}
#gift-buy-submit div.submit {
	display: inline-block;
	width: 340px;
	text-align: right;
}
* html #gift-buy-submit div.submit {display: inline;}
*+html #gift-buy-submit div.submit {display: inline;}
#gift-buy-submit div.submit p {
	display: inline;
}
#gift-buy-submit div.submit input {
	width: 153px;
	height: 32px;
	text-indent: -9999px;
	border: none;
	background: url(res/buy-button.png) no-repeat center center;
}
div.styles {
	padding: 15px;
	border-bottom: 1px solid #666;
}
div.styles label {
	margin: 10px;
}
div.style-thumb {
	margin: 10px;
	text-align: center;
}
div.style-thumb img {
	border: 8px solid #CCC;
}

table.gifts {
	width: 100%;
}
table.gifts td.figure {
	padding: 10px 0;
	text-align: center;
}
table.gifts td.figure a.caption {
	display: block;
	padding: 5px;
}